body{
    background-color: #f7fbe1;
}
@media screen and (max-width: 480px){
    body{background-color: #bac964;}
    #small{
        display: block;
        float:left;
        clear: both;}
    #medium{
        display: none;
        float:left;
        clear: both;}
    #large{
        display: none; 
        float:left;
        clear: both;}

    }        

@media screen and (min-width: 480px) and (max-width: 1024px){ 
        body{background-color: #438a5e;} 
        #small{
            display: none; 
            float: left;
            }
        #medium{
            display: block;}
        #large{display: none;
               clear: both;}      
  
    }
@media screen and (min-width: 1024px){  
    body{background-color: #436f8a;}  
    #small{
        display: none;
        float: left;}
    #medium{
        display: none;
        float: left;}
    #large{
        display: block;
        float: left;}  
    }

    #small, #medium, #large{
        padding: 1m 2m;
        font-size: 3vw; 
    }
    